* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(1.jpg);
  height: 100vh;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(2.jpg);
  height: 100vh;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(3.jpg);
  height: 100vh;
}
